body {
    background: url(../img/bg-3.png) no-repeat fixed;
    background-size: 100%;
}

/* form {
    background: rgb(245, 244, 244);
}

*/
a {
    text-decoration: none !important;
    color: black !important;
}

.mywarn {
    width: 60%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    transition: all 1s;
}

.mywarn::after {
    content: '';
}

.contain {
    margin: 30px auto;
    width: 1000px;
}

/* 隐藏页面滚动条 */
::-webkit-scrollbar {
    width: 0 !important;
}

::-webkit-scrollbar {
    width: 0 !important;
    height: 0;
}

.main {
    margin: 0 auto;
}

.nav-link {
    color: rgb(111, 111, 111);
}

form {
    margin: 20px 50px 50px 50px;
    border: 1px solid #DEE2E6;
    box-sizing: border-box;
    padding: 30px;
}

.nav-link:hover {
    color: black;
}

#peoplenum {
    width: 50px;
    display: inline-block;
}

.flex {
    display: flex;
}

.mylabel {
    color: rgb(44, 44, 44);
    font-size: large;
    font-weight: 700;
    letter-spacing: 0.08em;
}

.myinput {
    margin: 10px;
    width: 100%;
}

.flex .form-check {
    flex: 1;
}

.form-control {
    padding: 0;
}

.form-group legend {
    width: 1;
}

.form-check {
    display: inline;
}

.form-check .form-check-input {
    float: revert;
}

.col-form-label {
    color: rgb(1, 1, 1);
    font-size: large;
    font-weight: 700;
}

.mybutton {
    display: block;
    margin: 30px auto;
}

.loginBox {
    margin: 100px auto;
    width: 350px;
    border: rgb(95, 89, 89) 1px solid;
    padding: 30px 20px 30px 20px;
    color: rgb(95, 89, 89);
    /* background-color: rgba(222, 184, 135, 0.425); */
}

input.input-show {
    margin-left: 17px;
}

.loginBox input.input-code {
    width: 160px;
    margin-right: 15px;
    margin-left: 12px;

}

.loginBox input {
    width: 217px;
    height: 30px;
    border-radius: 3px;
    margin-bottom: 20px;
    border-style: none;
    border: rgb(95, 89, 89) 1px solid;
    /* background-color: rgba(222, 184, 135, 0.459); */
}

.loginBox button,
.import {
    border-style: none;
    color: rgb(95, 89, 89);
    padding: 2px 10px;
    /* display: block; */
    border-radius: 4px;

}

.loginBox .forget-pwd {
    font-size: 14px;
    color: gray;
    float: right;
}

.loginBox .forget-pwd:hover {
    color: rgb(44, 44, 44);
    cursor: pointer;

}

.loginBox .login {
    display: block;
    width: 300px;
    padding: 3px;
    margin: 0px auto;
}

.login:hover,
.code:hover {
    background-color: black;
    color: white;
}

.import {
    position: absolute;
    left: 47%;
    top: 40%;
    width: 150px;
    height: 50px;
    font-size: 18px;
}

.import:hover {
    /* box-shadow: #c0b3b0 2px 2px 5px; */
    transform: scale(1.2);
    transition: 0.7s;
}

@media (min-width: 576px) {
    .col-sm-2 {
        width: 32%;
    }
}

@media (min-width: 576px) {
    .col-sm-10 {
        flex: 0 0 auto;
        width: 68%;
    }
}