<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script type="text/javascript" src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script> -->
    <!-- 官网提供的 axios 在线地址 -->
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <title>test</title>
</head>

<body>
    <div id="app">
        <form action="">
            <div>密码：</div>
            <input type="text" v-model="checkNames">
            <br>
            <label class="mylabel">行业类别</label>
            <div class="flex">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="hangye" id="gridRadios3" value="制造业"
                        v-model="checkName">
                    <label class="form-check-label" for="hangye1">制造业</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="hangye" id="gridRadios3" value="信息传输、软件和信息技术服务业"
                        v-model="checkName">
                    <label class="form-check-label" for="hangye2">信息传输、软件和信息技术服务业</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="hangye" id="gridRadios3" value="文化、体育、娱乐业"
                        v-model="checkName">
                    <label class="form-check-label" for="hangye2">文化、体育、娱乐业</label>
                </div>
            </div>
            <p>{{checkNames}}</p>
            <label class="mylabel">享受税收优惠政策</label>
            <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input" id="inlineFormCheck" name="shuishou" type="radio" :value="true"
                    v-model="preferentialTax">
                <label class="form-check-label" for="inlineFormCheck">是</label>
            </div>
            <div class="form-check mb-2 mr-sm-2">
                <input class="form-check-input" id="inlineFormCheck" name="shuishou" type="radio"
                    v-model="preferentialTax" :value="false">
                <label class="form-check-label" for="inlineFormCheck">否</label><br />
            </div>
        </form>
        <button @click="putForm">提交</button>

        <!-- <button @click="clickData">test</button>
    <div>{{ msgData }}</div> -->

    </div>
    <script src="test.js"></script>
</body>


</html>